<head>
  <meta charset="utf-8">
  <title>TimVideos.us Planet - Developers News</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{{ site.description }}">
  <link rel="alternate" type="application/atom+xml" title="Tim Videos Planet Feed" href="{{ "/feed.xml" | prepend: site.baseurl | preped: site.url }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="{{ "/css/styles.css" | prepend: site.baseurl }}" rel="stylesheet">
</head>