<div class="column col-sm-3 col-md-3 col-lg-2" id="sidebar">
  <a class="logo" href="{% page_url index %}">
    <img src="{{ "/img/logo.png" | prepend: site.baseurl }}" />
    <span>DEV PAGE</span>
  </a>
  <ul class="nav">
    <li class="{% active_class home %}">
      <a href="{% page_url home %}">HOME</a>
    </li>
    <li class="{% active_class ideas %}">
      <a href="{% page_url ideas %}">IDEAS</a>
    </li>
    <li class="{% active_class people %}">
      <a href="{% page_url people %}">PEOPLE</a>
    </li>
    <li class="{% active_class news %}">
      <a href="{% page_url news %}">NEWS</a>
    </li>
    <li class="{% active_class summer-of-code %}">
      <a href="{% page_url summer-of-code %}">SUMMER OF CODE</a>
    </li>
  </ul>
  <ul class="nav hidden-xs" id="sidebar-footer">
    <li class="social">
      <a href="http://planet.timvideos.us/feed.xml"><i class="fa fa-rss"></i></a>
      <a href="http://www.twitter.com/TimVideosUs"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <span>Proudly hosted by <a id="github" href="http://www.github.com">GitHub</a>
      </span>
    </li>
  </ul>
</div>