---
---
<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Tim Videos - Live Event Streaming - {{page.title}}</title>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/pygment_trac.css">
    <script src="js/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="https://secure.gravatar.com/avatar/ed665fc30c4688bdf7a4d4040d2eebcc?s=160" width=160>
        <h1 class="header">{{page.title}}</h1>
        <p class="header">{{page.tagline}}</p>

        <ul>
<!--
          <li class="download"><a class="buttons" href="https://github.com/timvideos/getting-started/zipball/master">Download ZIP</a></li>
          <li class="download"><a class="buttons" href="https://github.com/timvideos/getting-started/tarball/master">Download TAR</a></li>
  -->
          <li><a class="buttons" href="Home.html">Getting Started</a></li>
          <li><a class="buttons" href="Ideas.html">Ideas</a> (<a href="https://github.com/timvideos/getting-started/issues">Tracker</a>)</li>
          <li><a class="buttons" href="People.html">People</a></li>

        </ul>

        <p class="header"><a class="header name" href="https://github.com/timvideos/getting-started/wiki{{page.url|replace_first:'.html',''}}/_edit">Edit</a></p> 

      </header>
      <section>
{{content}}
      </section>
    </div>
    <div style="height: 2000px;">&nbsp;</div>
    <div style="font-size: 8pt; text-align: center;">What you doing down here?</div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
